/* landing.css */
:root {
  --bg: #ffffff;
  --text: #000;       /* from your Figma spec */
}
* { margin:0; padding:0; box-sizing:border-box; }

body {
  background: var(--bg);
  font-family: 'Helvetica', sans-serif;
  color: var(--text);
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--gutter);
}

main ul {
   list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 532px;
  flex-shrink: 0;
  margin: 0 0 0 0;   /* no auto centering on the right */
  padding: 0;
  gap: 30px;         /* vertical gap between items */
}

main ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 48px;
  line-height: 80%;
  margin-bottom: 0px;
  display: block;
}
